.link-lista:hover{
    color: var(--dark10);
    text-decoration: underline;
    text-decoration-color: var(--roxo);
    text-decoration-thickness: var(--roxo);
    text-decoration-thickness: 3px;
}

.cabecalho__pesquisa{
    margin-left: 13em;
}

.pesquisa-img{
    position: relative;
    width: 1120px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
    opacity: 0.8;
}

.pesquisa__info{
    position: absolute;
    bottom: 60%;
    padding-left: 2em;
}

.pesquisa-tipo{
    font-size: 48px;
    font-family: var(--font-lexend);
    color: var(--dark10);

}

.pesquisa-subtipo{
    width: 492px;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--dark30);

}

.pesquisa-input{
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}